a.name
  font-weight bold
  color #000
  text-decoration none

.post_item
  position relative
  border 1px solid #ccc
  border-radius 4px
  margin-bottom 16px
  >
    .user
      padding 16px
      border-bottom 1px solid #ccc
    p
      margin 16px 16px 8px
      padding 0
    .created_at
      margin 16px
      font-size 11px
      color #888
    .options
      position absolute
      top 16px
      right 16px

.comment_list
  margin 8px 16px

.comment_item
  p
    margin 8px 0
    padding 0

.comment_editor
  margin 8px 16px 0
  border-top 1px solid #ccc
  input
    border 0
    padding 16px 1px
    outline none
    font-size 13px